html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  color: rgba(150, 0, 188, 0.95);
}
h2 {
  text-align: center;
  font-size: 22px;
  margin-top: 5px;
}
h3 {
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}
.main-container {
  width: 50%;
  margin: 10px auto;
  background: rgba(244, 212, 0, 0.95);
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(150, 0, 188, 0.95);
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: auto;
  width: 40%;
  border-style: solid;
  border-color: rgba(150, 0, 188, 0.95);
  color: rgba(150, 0, 188, 0.95);
}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
}
